Source: dart-on-server
Section: devel
Priority: optional
Maintainer: Christophe Hurpeau <christophe@hurpeau.com>
Standards-Version: 1.0
Build-Depends: debhelper (>= 7.0.50~)

Package: dart-on-server
Section: devel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wget, unzip, git
Description: Dart on server
